.ItemListContainer{
  background: radial-gradient( 100% 0% at 0% 100%, white 70%, lightblue 100% );
  height: auto;
  width: 100%;
}

.Container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
}