.ItemListContainer{
  background: rgb(10, 48, 85);
  background: linear-gradient(to bottom,black, rgb(10, 48, 85));
  width: 100%;
}

.Container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
}