.ItemListContainer{
  background: rgb(10, 48, 85);
  background: linear-gradient(to bottom,black, rgb(10, 48, 85));
  width: 100%;
}

.Container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
}

h2{
  margin-bottom: 0;
}

@media (min-width: 1600px) { 
  .ItemListContainer{
    height: 36vw;
  }
}