.DetailCard{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    background: radial-gradient( 100% 100% at 100% 0%, black 0%, dodgerblue 100% );
    color: #fff;    
    /* border-radius: 15px; */
    justify-self: center;
}

.imgDetailContainer{
        margin-top: 20px;
        height: 17rem;
        width: 17rem;
    }

.imgDetailContainer img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.descriptionContainer{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    
    align-items: center;
    border: 1px white solid;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

.productPrice{
    color:orange ;
    font-weight: bolder;
    font-size: x-large;
}

.warranty{
    background-color: grey;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    color: whitesmoke ;
    padding: 5px;
    font-size: 10px;
}

/*-----------------------------------breakpoint 768px--------------------------------------*/

@media (min-width: 768px) {
    .descriptionContainer{
        height: 25rem;
        justify-content: space-evenly;
    } 

    .imgDetailContainer{
        height: 20rem;
        width: 40vw;
    }
}

/*-----------------------------------breakpoint 1024px--------------------------------------*/

@media (min-width: 1024px) {

    .card{
        flex-flow: row nowrap;
    }

   .descriptionContainer{
        width: 20rem;
        justify-content: space-evenly;
    } 

    .imgDetailContainer{
        height: 25rem;
        width: auto;
    }
}

/*-----------------------------------breakpoint 1440px--------------------------------------*/

@media (min-width: 1440px) {


   .descriptionContainer{
        width: 40rem;
    } 

    .imgContainer{
        width: 40rem;
    }
}